In [2]:
import pandas as pd
import numpy as np

index = [('California', 2000), ('California', 2010),
('New York', 2000), ('New York', 2010),
('Texas', 2000), ('Texas', 2010)]
mindex = pd.MultiIndex.from_tuples(index)

In [3]:
mindex

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [4]:
populations = [33871648, 37253956,
18976457, 19378102,
20851820, 25145561]
pop = pd.Series(populations, index=mindex)

In [5]:
pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [6]:
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [7]:
pop_df = pd.DataFrame({'total': pop,  'under18': [9267089, 9284094,
4687374, 4318033,
5906301, 6879014]})

In [8]:
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [10]:
f_u18 = pop_df['under18'] / pop_df['total']
print("fraction of population under 18:")
f_u18.unstack()

fraction of population under 18:

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

In [14]:
df = pd.DataFrame(np.random.rand(4, 2),index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],columns=['data1', 'data2'])
df

        data1     data2
a 1  0.543030  0.641594
  2  0.132848  0.005233
b 1  0.358249  0.112242
  2  0.195932  0.471130

In [15]:
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [16]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [20]:
pop.index.names = ['state', 'year']
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [21]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
names=['subject', 'type'])
# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37
# create the dataframe
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject    Bob       Guido       Sue
type        HR  Temp    HR  Temp  HR  Temp
year visit
2013 1      37  38.0    43  36.5  32  36.3
     2      49  36.3    43  37.2  33  35.7
2014 1      42  37.9    56  37.4  32  37.5
     2      31  37.0    43  35.9  37  36.3

In [22]:
health_data['Guido']

type        HR  Temp
year visit
2013 1      43  36.5
     2      43  37.2
2014 1      56  37.4
     2      43  35.9

In [23]:
pop['California', 2000]

33871648

In [24]:
pop['California']

year
2000    33871648
2010    37253956
dtype: int64