In [4]:
import pandas as pd
import numpy as np

import pandas as pd
import numpy as np

class display(object):
    """Display HTML representation of multiple objects"""

    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    
    def __init__(self, *args):
        self.args = args
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
            for a in self.args)
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
            for a in self.args)

In [24]:
pop = pd.read_csv('state-population.csv')
areas = pd.read_csv('state-areas.csv')
abbrevs = pd.read_csv('state-abbrevs.csv')
display('pop.head()', 'areas.head()', 'abbrevs.head()')

pop.head()
  state/region     ages  year  population
0           AL  under18  2012     1117489
1           AL    total  2012     4817528
2           AL  under18  2010     1130966
3           AL    total  2010     4785570
4           AL  under18  2011     1125763

areas.head()
        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707

abbrevs.head()
        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [27]:
merged = pd.merge(pop, abbrevs, left_on='state/region', right_on='abbreviation', how='outer')
merged = merged.drop('abbreviation', axis=1) # drop duplicate info
merged.head()

  state/region     ages  year  population    state
0           AL  under18  2012     1117489  Alabama
1           AL    total  2012     4817528  Alabama
2           AL  under18  2010     1130966  Alabama
3           AL    total  2010     4785570  Alabama
4           AL  under18  2011     1125763  Alabama

In [29]:
merged[merged['population'].isnull()].head()

     state/region     ages  year  population state
2448           PR  under18  1990         NaN   NaN
2449           PR    total  1990         NaN   NaN
2450           PR    total  1991         NaN   NaN
2451           PR  under18  1991         NaN   NaN
2452           PR    total  1993         NaN   NaN